<div class = "users_index">
  <% if user.image? %>
    <%= image_tag("#{user.image}" ,class: "users_index__icon_image")%>
  <% else %>
    <%= image_tag('no-image.jpeg' ,class: "users_index__icon_image")%>
  <% end %>
  <div class = "users_index__right">
    <%= link_to user.name, "/users/#{user.id}"%>
    <p><%= user.profile %></p>
  </div>
</div>
