<div class = "user-show">
  <h2>< フォロワーリスト ></h2>

  <div class = "users_indexs">
    <% @user.followers.each do |user| %>
      <%= render :partial => "users_index",:locals => { user: user } %>
    <% end %>
  </div>

</div>
