<div class = "user-show">
  <h2>< フォロワーリスト ></h2>

  <div class = "users_indexs">
    <% @user.followers.each do |user| %>
      <div class = "users_index">
        <% if user.image? %>
          <img src = <%= user.image %> class = "users_index__icon_image">
        <% else %>
         <%= image_tag 'no-image.jpeg' ,class: "users_index__icon_image"%>
        <% end %>
        <div class = "users_index__right">
          <%= link_to user.name, "/users/#{user.id}"%>
          <p><%= user.profile  %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
