<div class = "user-show">
  <h2><%= "#{@user.name}さんのフォロワー" %></h2>

  <div class = "users_indexs">
    <% @user.followers.each do |user| %>
      <%= render :partial => "user",:locals => { user: user } %>
    <% end %>
  </div>

</div>
