.items {
  margin-top: 30px;
  text-align:center
}

.item {
  margin: 12px;
  display: inline-block;
  &__image {
    overflow: hidden;
    img {
      display: block;
      transition-duration: 1s;
    }
    img:hover {
      transform: scale(1.07);
      transition-duration: 0.6s;
      opacity: 0.4;
    }
  }
}

.item__bottom__title {
  width:  320px;
  margin-top: 5px;
  font-size: 20px;
  color: red;
  text-align: left;
  a {
    color :pink;
  }
}

.item__bottom__time {
  text-align: left;
  a {
    color: pink;
  }
}

.activator {
  height: 200px;
  width:  320px;
}

.pagination {
  text-align:center;
  background-color: black;
  span {
    font-size: 18px;
    color: white;
  }
  span a{
    color: grey;
  }
}

