.products {
  margin-top: 30px;
  text-align:center
}

.product {
  margin: 12px;
  display: inline-block;
  &__image {
    overflow: hidden;
    img {
      display: block;
      transition-duration: 1s;
    }
    img:hover {
      transform: scale(1.07);
      transition-duration: 0.6s;
      opacity: 0.4;
    }
  }
  &__bottom {
    &__title {
      width:  320px;
      margin-top: 5px;
      font-size: 20px;
      text-align: left;
      a {
        color :pink;
      }
    }
    &__star a{
      color: pink;
      float: right;

    }
    &__date {
      text-align: left;
      a {
        color: pink;
      }
    }
    &__link {
      text-align: left;
      a {
        color: pink;
      }
    }
  }
}

.activator {
  height: 240px;
  width:  320px;
  object-fit: cover;
}

.pagination {
  text-align:center;
  background-color: black;
  span {
    font-size: 18px;
    color: white;
  }
  span a{
    color: grey;
  }
}

