.user-show {
  width: 70%;
  margin: auto;
  margin-top:40px;
  h2 {
  color: white;
  font-weight: bold;
  font-size: 20px;
  }
  p{
    padding-bottom: 20px;
  }
  a{
    color: pink;
    font-size:20px;
  }
  &__right {
    width:calc(100% - 214px);
    display: inline-block;
    color:pink;
    margin-left: 10px;
    &__name {
      font-size: 25px;
      margin-bottom: 5px;
      margin-right: 10px;
      display: inline-block;
    }
    &__profile{
      color:white;
      height: 120px;
    }
    a {
      margin-bottom:20px;
      color:white;
      font-size: 15px;
    }
    &__follow {
      display: inline-block;
      span {
        color: grey;
      }
    }
  }
}

.icon_image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.Follow {
  color: #f48fb1 !important;
  border:solid 1px #f48fb1;
}
