.user-show {
  width: 70%;
  margin: auto;
  margin-top:40px;
  h2 {
  color: white;
  font-weight: bold;
  font-size: 20px;
  }
  p{
    padding-bottom: 20px;
  }
  a{
    color: pink;
    font-size:20px;
  }
  &__right {
    width:calc(100% - 214px);
    display: inline-block;
    color:pink;
    margin-left: 10px;
    &__name {
      font-size: 25px;
      margin-bottom: 5px;
      margin-right: 10px;
      display: inline-block;
    }
    &__profile{
      color:white;
      min-height: 120px;
      margin-bottom: 15px;
      word-wrap:break-word;
    }
    a {
      margin-bottom:20px;
      color:white;
      font-size: 15px;
    }
    &__follow {
      display: inline-block;
      span {
        color: grey;
      }
    }
  }
}

.icon_image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.Follow {
  color: #f48fb1 !important;
  border:solid 1px #f48fb1;
}

.fa-twitter-square {
  color:#64b5f6;
  background-color: white;
  padding:0 1px;

}







@media screen and (max-width: 680px) {
  .user-show {

    a{
      color: pink;
      font-size:20px;
    }
    &__right {
      width: 100%;
      color:pink;
      margin-left: 10px;
      &__name {
        font-size: 25px;
        margin-bottom: 5px;
        margin-right: 10px;
      }
      &__profile{
        color:white;
        height: 100%;
      }
      a {
        margin-bottom:20px;
        color:white;
        font-size: 15px;
      }
    }
  }

  .icon_image {
    width: 70vw;
    height: 70vw;
    border-radius: 35vw;
    object-fit: cover;
  }

  // .Follow {
  //   color: #f48fb1 !important;
  //   border:solid 1px #f48fb1;
  // }



}


