.user_finction_area {
  width:70%;
  padding: 30px;
  margin: auto;
  background-color: white;

  input {
    margin-bottom: 10px;
  }
  .field {
    margin-bottom: 10px;
    background-color: white;
  }
}
