.user-show {
  width: 70%;
  margin: auto;
  margin-top:40px;
  h2 {
  color: pink;
  font-size: 20px;
  }
  p{
    padding-bottom: 20px;
  }
  a{
    color: pink;
    font-size:20px;
  }
  &__right {
    width:calc(100% - 214px);
    display: inline-block;
    color:pink;
    margin-left: 10px;
    &__name {
      font-size: 25px;
      margin-bottom: 5px;
    }
    &__profile{
      color:white;
      height: 120px;
    }
    a {
      margin-bottom:20px;
      color:white;
      font-size: 15px;
    }
  }
}


.icon_image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 10px;

}
