<div class = "items">

  <div class = "item">
    <div class = "item__image">
      <img class = "activator" src = "http://www.allnightnippon.com/upimage/kw/info/201510032042/img_0.jpg">
    </div>
    <div class = "item__bottom">
      <div class = "item__bottom__title">
        <a>サモア</a>
      </div>
      <div class = "item__bottom__time">
        <a>2015.10.03</a>
      </div>
    </div>
  </div>

  <div class = "item">
    <div class = "item__image">
      <img class = "activator" src = "http://www.allnightnippon.com/upimage/kw/info/201510032042/img_0.jpg">
    </div>
    <div class = "item__bottom">
      <div class = "item__bottom__title">
        <a>サモア</a>
      </div>
      <div class = "item__bottom__time">
        <a>2015.10.03</a>
      </div>
    </div>
  </div>

  <div class = "item">
    <div class = "item__image">
      <img class = "activator" src = "http://www.allnightnippon.com/upimage/kw/info/201510032042/img_0.jpg">
    </div>
    <div class = "item__bottom">
      <div class = "item__bottom__title">
        <a>サモア</a>
      </div>
      <div class = "item__bottom__time">
        <a>2015.10.03</a>
      </div>
    </div>
  </div>

  <div class = "item">
    <div class = "item__image">
      <img class = "activator" src = "http://www.allnightnippon.com/upimage/kw/info/201510032042/img_0.jpg">
    </div>
    <div class = "item__bottom">
      <div class = "item__bottom__title">
        <a>サモア</a>
      </div>
      <div class = "item__bottom__time">
        <a>2015.10.03</a>
      </div>
    </div>
  </div>



</div>
